*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(89, 88, 88);  
}
body{
    font-family: "DM Sans", sans-serif;
    height: 100%;
    width: 100%;
    color: rgb(89, 88, 88);
}
nav{
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: bisque;
}
nav img{
    height: 35px;
    margin-left: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 8px 12px;
}
nav ul li a{
    color: rgb(87, 86, 86);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    font-family: "DM Sans", sans-serif;
}
nav button{
    border-radius: 80px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #f05a29;;
    align-items: center;
    border:none;
    height: 60px;
    width: 220px;
    margin-right:180px ;
}
nav button:hover{
    background-color: #f05b29b1;
}

.menubar {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .sub-menu{
        display: none;
        position: absolute;
        background-color: #f05a29;
        min-width: 240px;
        z-index: 1;
        transform: translate(0px, 20px);
  }
  .sub-menu a {
    color: white;
    padding: 12px 36px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .sub-menu {display: block;}
button:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
#about-origin{
    display: flex;
    justify-content: center;
}
.image-girl{
    padding: 80px;
    padding-top: 140px;
    margin-left: 0px;
}
.image-woman{
    background-image: url(about_woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 320px;
    position: absolute;
    transform: translate(-135px,20px);
   
    border-style: solid;
    border-width: 12px;
    border-color: white;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(32, 36, 38, 0.1);
    box-sizing: border-box;
}
#details{
    padding: 40px;
}
#details h4{
    padding-top: 40px;
    padding: 20px;
    padding-left: -10px;
    font-size: 70px;
    font-family: "Chelsea Market", cursive; 
    color: #000;
    font-weight: 200;
}
span{
    color: #f05a29;
}
#details ul li{
    font-size: 16px;
    line-height: 30px;
    color: gray;
    padding: 8px;
    margin-left: 40px;
    list-style-type: square;
    font-family: "DM Sans", sans-serif;
}
.service-heading h4{
    padding: 20px;
    font-size: 70px;
    font-family: "Chelsea Market", cursive; 
    color: #000;
    font-weight: 200;
    text-align: center;
}

#cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;
}
.card{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    justify-content: space-between;
    transition: all ease 0.6s;
    border: 2px solid #f2f2f2;
}
.card:hover{
    border-radius: 0px;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 45px;
}
.overlay h4{
    color: black;
    font-size: 35px;
    font-weight: 300;
    white-space: nowrap;
    margin: 4px;
    text-align: left;
    font-family: "Chelsea Market", cursive; 
}
.overlay p{
    color: gray;
text-align: left;
font-weight: 100;
font-family: "DM Sans", sans-serif;
}

.overlay h4:hover {
    color: #f05a29;
}
.overlay:hover {
    box-shadow: 0px 25px 50px 0px rgba(132, 137, 139, 0.451);
}
#info-container{
padding: 60px 160px;
display: flex;
justify-content: center;
align-items: center;
}
.vision{
    display: flex;
    justify-content: center;
    background-image: url(support_girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 40px;
    width: 50%;  
    z-index: 1;  
    height: 320px;
}
.bg1{
    background: #00baa3;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    margin-top: -40px;
}
.vision img{
height: 100px;
}
#vision-text h4{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  font-size: 50px;
  font-weight: 200;
  color: #fff;
  font-family: "Chelsea Market", cursive; 
}
#vision-text p{
    padding-left: 40px;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
.mission{
    display: flex;
    justify-content: center;
    background-image: url(waterboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center; 
    padding: 40px;
    width: 50%;
    height: 320px;
    z-index: 1;
}
.mission img{
    height: 100px;
    }
    #mission-text h4{
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
      font-size: 50px;
      font-weight: 200;
      color: #fff;
      font-family: "Chelsea Market", cursive; 
    }
    #mission-text p{
        padding-left: 40px;
        font-size: 16px;
        color: #fff;
        line-height: 25px;
    }
    .bg2{
        background: #d55342;;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: -1;
        position: absolute;
        margin-top: -40px;
    }

    #footer{
        display: flex;
    }
    .get-in-touch{
        background-color: bisque;
        display: block;
        width: 40%;
        text-align: left;
        padding: 40px;
        padding-bottom: 0px;
    }
    .get-in-touch h4{
        font-family: "Chelsea Market", cursive; 
        padding: 20px;
        font-size: 20px;
        margin-left: 40%;
    }
    .call{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -80px;
        padding: 20px;
    }
    .call p{
        color: gray;
    }
    .call a {
        border-radius: 0%;
        height: 40px;
        width: 40px;
        background-color: #efc94c;
        text-align: center;
        box-sizing: border-box;
        margin-right: 30px;
        margin-top: 10px;
        }
        .get-in-touch a i{
            color: white;
            font-size: 20px;
            line-height: 40px;
        }
        .mail{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
        }
        .mail p{
            color: gray;
        }
        .mail a {
            border-radius: 0%;
            height: 40px;
            width: 40px;
            align-items: center;
            color: white;
            background-color:#00baa3;
            text-align: center;
            box-sizing: border-box;
            margin-right: 30px;
            margin-top: 10px;
            }
            .location{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -44px;
                padding: 20px;
            }
            .location p{
                color: gray;
            }
            .location a {
                border-radius: 0%;
                height: 40px;
                width: 40px;
                align-items: center;
                color: white;
                background-color: #f86048;
                text-align: center;
                box-sizing: border-box;
                margin-right: 30px;
                margin-top: 10px;
                }

                .social-links{
                    display: flex;
                    justify-content: center;
                }
                .social-links a {
                border-radius: 0%;
                height: 50px;
                width: 50px;
                align-items: center;
                background-color: rgb(36, 35, 35);
                text-align: center;
                gap: 40px;
                margin:  40px 10px;
                }
                .social-links a i{
                    color: gray;
                    font-size: 20px;
                    line-height: 50px;
                }
                .social-links :hover {
                    background-color: #efc94c;
                    transition: 0.3s;
                }
                .social-links :hover i{
                    color: white;
                    transition: 0.3s;
                }

                .contact {
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                }
                .special-menu{
                    display: flex;
                    margin: 30px;
                }
                .contact ul li{
                  padding: 10px;
                  list-style: none;
                }
                .contact ul li a{
                    text-decoration: none;
                }
                .contact ul li :hover{
                    color: #f05a29;
                }
                .with-title1 {
                    display: flex;
                    margin-top: -480px;
                    margin-left: 200px;
                }
                .heading{
                    margin-top: 40px;
                    margin-left: 80px;
                    margin-bottom: 15px;
                    font-size: 25px;
                    font-family: "Chelsea Market", cursive;
                }
                .with-title1 ul li{
                    align-items: start;
                    margin-left: 80px;
                }
                .with-title2{
                    display: flex;
                    margin-top: -175px;
                    margin-left: 540px;
                }
                .heading2{
                    font-size: 25px;
                    font-family: "Chelsea Market", cursive;
                    margin-bottom: 15px;
                }
                
                .copywrite p{
                    font-family: "DM Sans", sans-serif;
                    font-size: 16px;
                    font-weight: 200;
                    text-align: center;
                    line-height: 30px;
                    padding: 20px;
                    background-color: #f7f4f4;
                }
                .copywrite p a{
                    text-decoration: none;
                    color: #f05a29;
                }